:root {
  --terminalprimary: #ff00ff;
  --terminalprimarytrans: #ff00ff5b;
  --terminalsecondary: #00ffff;
  --terminalsecondarytrans: #00ffff5b;
}

body {

  overflow: hidden;
  font-family: 'Share Tech Mono', monospace;
  font-size: 1rem;
  text-transform: uppercase;

  background-color: #070725;
  /* background-image: url('../img/terminal_bg.jpg');
  background-size: cover;
  background-position: center; */
  color: var(--terminalprimary);
  text-shadow: 0 0 4px var(--terminalprimary);
  
  -webkit-animation: flicker 0.1s infinite, steady 4s;
  animation: flicker 0.1s infinite, steady 4s;

}

#cursor {
  color: #fff;
  text-shadow: 0 0 4px #fff;
}

.h {
  color: var(--terminalsecondary);
  text-shadow: 0 0 4px var(--terminalsecondary);
}

a, a:hover, pre {
  color: var(--terminalprimary);
}

#fullscreenContainer {
  width: 100%;
  height: 100lvh;
  padding: 10rem;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

#terminal {
  width: 100%;
  max-width: 500px;
  margin-top: 10rem;
}

.btn {
  text-transform: uppercase;
}
.btn-primary {
  color: var(--terminalprimary);
  text-shadow: 0 0 4px var(--terminalprimary);
  background-color: var(--terminalprimarytrans);
  box-shadow: 0 0 4px var(--terminalprimarytrans);
  border: none;
}

@-webkit-keyframes flicker {
  0% {
    opacity: .86139;
    transform: translateX(0);
  }
  5% {
    opacity: .793;
    transform: translateX(0);
  }
  10% {
    opacity: .6759;
    transform: translateX(0);
  }
  15% {
    opacity: .9766;
    transform: translateX(0);
  }
  20% {
    opacity: .61364;
    transform: translateX(0);
  }
  25% {
    opacity: .94477;
    transform: translateX(0);
  }
  30% {
    opacity: .57811;
    transform: translateX(0);
  }
  35% {
    opacity: .416;
    transform: translateX(0);
  }
  40% {
    opacity: .835;
    transform: translateX(0);
  }
  45% {
    opacity: .62054;
    transform: translateX(0);
  }
  50% {
    opacity: .89452;
    transform: translateX(0);
  }
  55% {
    opacity: .89997;
    transform: translateX(0);
  }
  60% {
    opacity: .7872;
    transform: translateX(0);
  }
  65% {
    opacity: .929;
    transform: translateX(0);
  }
  70% {
    opacity: .77;
    transform: translateX(0);
  }
  75% {
    opacity: .7512;
    transform: translateX(1px);
  }
  80% {
    opacity: .84701;
    transform: translateX(0);
  }
  85% {
    opacity: .85952;
    transform: translateX(0);
  }
  90% {
    opacity: .76553;
    transform: translateX(0);
  }
  95% {
    opacity: .91372;
    transform: translateX(0);
  }
  100% {
    opacity: .5536;
    transform: translateX(3px);
  }
}

@keyframes flicker {
  0% {
    opacity: .86139;
    transform: translateX(0);
  }
  5% {
    opacity: .793;
    transform: translateX(0);
  }
  10% {
    opacity: .6759;
    transform: translateX(0);
  }
  15% {
    opacity: .9766;
    transform: translateX(0);
  }
  20% {
    opacity: .61364;
    transform: translateX(0);
  }
  25% {
    opacity: .94477;
    transform: translateX(0);
  }
  30% {
    opacity: .57811;
    transform: translateX(0);
  }
  35% {
    opacity: .416;
    transform: translateX(0);
  }
  40% {
    opacity: .835;
    transform: translateX(0);
  }
  45% {
    opacity: .62054;
    transform: translateX(0);
  }
  50% {
    opacity: .89452;
    transform: translateX(0);
  }
  55% {
    opacity: .89997;
    transform: translateX(0);
  }
  60% {
    opacity: .7872;
    transform: translateX(0);
  }
  65% {
    opacity: .929;
    transform: translateX(0);
  }
  70% {
    opacity: .77;
    transform: translateX(0);
  }
  75% {
    opacity: .7512;
    transform: translateX(1px);
  }
  80% {
    opacity: .84701;
    transform: translateX(0);
  }
  85% {
    opacity: .85952;
    transform: translateX(0);
  }
  90% {
    opacity: .76553;
    transform: translateX(0);
  }
  95% {
    opacity: .91372;
    transform: translateX(0);
  }
  100% {
    opacity: .5536;
    transform: translateX(3px);
  }
}